.advantages,
.occupations {
	background-color: $background-color;
}
.advantages {
	line-height: 1.71;

	&__title {
		@include fonts(1.14, 700, 14px, unset, 0.03em, uppercase);
		margin-bottom: 10px;
		color: $secondary-text-color;
	}

	&__box {
		@include centralFlex();
		@include objectForm(100%, 120px, 4px);
		margin-bottom: 30px;
		background-color: $team-background-color;
	}

	&__list {
		display: flex;
		margin-right: calc(-1 * #{$card-set-gap});
	}

	&__item {
		flex-basis: calc(100% / 4 - #{$card-set-gap});
		margin-right: $card-set-gap;
	}
}
