.clients {
	&__title {
		@extend %title-section;
	}

	&__list {
		// display: flex;
		// margin-right: calc(-1 * #{$card-set-gap});
	}

	&__name {
		// flex-basis: calc(100% / 6 - #{$card-set-gap});
		// margin-right: $card-set-gap;
	}
}

.clients__ref {
	@include objectForm(170px, 92px, 4px);
	border: 1px solid #afb1b8;

	@include centralFlex();
	fill: #afb1b8;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		border: 1px solid $accent-color;
		fill: $accent-color;
	}
}
