.clients {
	&__title {
		@extend %title-section;
		@media screen and (max-width: 1199px) {
			@include fonts(1.18, 700, 28px, center, 0.03em, none);
			margin-bottom: 30px;
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		margin-right: calc(-1 * #{$card-set-gap});
		margin-bottom: calc(-1 * #{$card-set-gap});
	}

	&__name {
		flex-basis: calc(100% / 2 - #{$card-set-gap});
		margin-right: $card-set-gap;
		margin-bottom: $card-set-gap;

		@media screen and (min-width: $tablet) {
			flex-basis: calc(100% / 3 - #{$card-set-gap});
		}

		@media screen and (min-width: $desktop) {
			flex-basis: calc(100% / 6 - #{$card-set-gap});
		}
	}
}

.clients__ref {
	@include objectForm(100%, 92px, 4px);
	border: 1px solid #afb1b8;
	@include centralFlex();
	fill: #afb1b8;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
		border 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		border: 1px solid $accent-color;
		fill: $accent-color;
	}
}
