.page-footer {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: $hero-and-footer-background-color;
}

.footer__main-flex {
	display: flex;
	align-items: baseline;
}

.location {
	display: block;
	margin-top: 20px;
	font-style: normal;
	line-height: 1.71;
}

.location__ref {
	color: $background-color;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		color: $accent-color;
	}
}

.contacts-footer__list {
	margin-top: 9px;
}

.contacts-footer__link {
	line-height: 1.71;
	color: rgba(255, 255, 255, 0.6);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		color: $accent-color;
	}
}

.footer-socials {
	display: flex;
	flex-direction: column;
	margin-left: 70px;

	&__invitation {
		font-weight: 700;
		line-height: 1.14;
		text-transform: uppercase;
		margin-bottom: 20px;
		color: $background-color;
	}

	&__link {
		display: flex;
		justify-content: start;
	}

	&__icon {
		fill: currentColor;
	}
}

.footer-socials__list {
	display: flex;

	&:not(:last-child) {
		margin-right: 10px;
	}
}

.footer-socials__icon-ref {
	width: 44px;
	height: 44px;
	@include centralFlex();
	border-radius: 50%;
	color: $background-color;
	background-color: rgba(255, 255, 255, 0.1);
	cursor: pointer;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		background-color: $accent-color;
	}
}

.signup-form {
	display: flex;
	margin-left: 93px;
	align-items: flex-end;

	&__label {
		font-weight: 700;
		line-height: 1.14;
		text-transform: uppercase;
		color: $background-color;
	}

	&__icon {
		margin-left: 10px;
		align-items: center;
	}
}

.signup-form__input {
	display: block;
	margin-top: 20px;
	padding-left: 16px;
	width: 358px;
	height: 50px;
	background-color: $hero-and-footer-background-color;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 4px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	font-size: 16px;
	line-height: 1.25;
	color: rgba(255, 255, 255, 0.6);

	&::placeholder {
		font-size: 16px;
		line-height: 1.25;
		color: rgba(255, 255, 255, 0.6);
	}
}

.signup-form__button {
	@include centralFlex();
	@extend %general-buttons;
	margin-left: 12px;
	padding: 10px 28px 10px 29px;

	&:hover,
	&:focus {
		@extend %general-buttons_hover;
	}
}
