.menu-toggle {
	background-color: $background-color;
	margin-left: auto;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover,
	&:focus {
		fill: $accent-color;
	}
	@media screen and (min-width: $tablet) {
		display: none;
	}
}
.menu-close {
	background-color: $background-color;
	position: absolute;
	top: 10px;
	right: 15px;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover,
	&:focus {
		fill: $accent-color;
	}
}

.menu-container {
	@include positioning(fixed, 0, 0, 100vw, 100vh);
	padding: 48px 83px 48px 40px;
	background-color: $background-color;
	transform: translateX(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	overflow-y: auto;
}
.menu-container.is-open {
	transform: translateX(0);
}
.menu-nav {
	&__item {
		@include fonts(1.18, 500, 40px, unset, 0.02em, none);

		&:not(:last-child) {
			margin-bottom: 32px;
		}
	}
	&__link {
		color: $secondary-text-color;
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

		&:hover,
		&:focus {
			color: $accent-color;
		}
	}
}
.menu-contacts {
	margin-top: 240px;
	&__item {
		@include fonts(1.17, 500, 24px, unset, 0.02em, none);
		&:not(:last-child) {
			margin-bottom: 32px;
			@include fonts(1.18, 500, 34px, unset, 0.02em, none);
		}
	}
	&__link {
		color: inherit;
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

		&:hover,
		&:focus {
			color: $accent-color;
		}
	}
}
.menu-socials {
	display: flex;
	justify-content: space-between;
	margin-top: 64px;
	&__item {
		@include fonts(1.22, 500, 18px, unset, 0.02em, none);

		&:not(:last-child) {
			padding-right: 10px;
			border-right: 1px solid rgba(33, 33, 33, 0.2);
		}
	}
	&__link {
		color: inherit;
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

		&:hover,
		&:focus {
			color: $accent-color;
		}
	}
}
