.subscribe {
	padding: 40px;
	@media screen and (max-width: 479px) {
		padding: 20px;
		padding-top: 30px;
	}

	&__label {
		@include fonts(1.17, 400, 12px, unset, 0.01em, none);
		cursor: pointer;
	}

	&__text {
		@include fonts(1.15, 700, 20px, center, 0.03em, none);
		color: $secondary-text-color;
		margin-bottom: 12px;
		@media screen and (max-width: 479px) {
			@include fonts(1.15, 500, 16px, center, 0.03em, none);
		}
	}
}

.subscribe-block {
	position: relative;

	&__input {
		border: 1px solid rgba(33, 33, 33, 0.2);
		@include objectForm(100%, 40px, 4px);
		display: block;
		margin-top: 4px;
		margin-bottom: 10px;
		padding-left: 42px;
		transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
		cursor: pointer;
	}

	&__icon {
		@include positioning(absolute, 50%, 12px);
		transform: translateY(-50%);
		transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	&:hover,
	&:focus {
		@extend %subscribe-form_hover-focus;
	}
}

.subscribe-block__input {
	&:hover,
	&:focus {
		@extend %subscribe-form_hover-focus;
	}
}

.subscribe__textarea-input {
	display: block;
	@include objectForm(100%, 120px, 4px);
	@media screen and (max-width: 479px) {
		@include objectForm(100%, 60px, 4px);
	}
	border: 1px solid rgba(33, 33, 33, 0.2);
	margin-top: 4px;
	margin-bottom: 20px;
	padding: 12px 16px;
	resize: none;

	&::placeholder {
		@include fonts(1.17, 400, 12px, unset, 0.01em, none);

		@media screen and (max-width: 1199px) {
			@include fonts(1.14, 400, 14px, unset, 0.01em, none);
		}
		color: rgba(117, 117, 117, 0.5);
	}
}

.subscribe-checkbox {
	@include centralFlex();
	line-height: 1.71;
	margin-bottom: 30px;
	cursor: pointer;
	@media screen and (max-width: 1199px) {
		@include fonts(1.17, 400, 12px, unset, 0.03em, none);
	}
	@media screen and (max-width: 479px) {
		margin-bottom: 15px;
		@include fonts(0.9, 400, 12px, unset, 0.03em, none);
	}

	&__icon {
		display: inline-block;
		@include objectForm(16px, 15px, 2px);
		margin-right: 7px;
		@media screen and (max-width: 479px) {
			min-width: 16px;
			margin-right: 15px;
		}
		border: 2px solid $secondary-text-color;
		cursor: pointer;
	}

	&__license {
		display: block;
		line-height: 1.71;
		@media screen and (max-width: 1199px) {
			@include fonts(1.17, 400, 12px, unset, 0.03em, none);
		}
		text-decoration-line: underline;
		color: $accent-color;
		margin-left: 4px;
	}
}

.subscribe-checkbox__input {
	&:checked + .subscribe-checkbox__icon {
		border-color: transparent;
		background-image: url(../images/icon-check.svg);
		background-size: content;
		background-origin: border-box;
	}
}

.subscribe__button {
	@extend %general-buttons;
	padding: 10px 55px 10px 56px;
	margin: 0 auto;

	&:hover,
	&:focus {
		@extend %general-buttons_hover;
	}
}
