.occupations {
	padding-top: 0;

	&__title {
		@extend %title-section;
	}

	&__list {
		// // display: flex;
		// margin-right: calc(-1 * #{$card-set-gap});
	}

	&__image {
		// flex-basis: calc(100% / 3 - #{$card-set-gap});
		// margin-right: $card-set-gap;
		position: relative;
	}

	&__description-image {
		@include positioning(absolute, unset, unset, 370px, 70px);
		background-color: rgba(47, 48, 58, 0.8);
		transform: translateY(-100%);
	}

	&__description-text {
		@include fonts(1.14, 700, 14px, center, 0.03em, uppercase);
		color: $background-color;
		padding: 27px 82px 83px;
	}
}
