.team {
	background-color: $team-background-color;
	width: 100%;
	&__title {
		@extend %title-section;
	}

	&__list {
		// display: flex;
		// margin-right: calc(-1 * #{$card-set-gap});
		width: 100%;
	}

	&__card {
		// flex-basis: calc(100% / 4 - #{$card-set-gap});
		// margin-right: $card-set-gap;
		background: $background-color;
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
		border-radius: 0px 0px 4px 4px;
		width: 100%;
	}

	&__article {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 30px 32px;
		width: 100%;
	}

	&__member {
		@include fonts(1.19, 500, 16px, unset, 0.03em, none);
		color: $secondary-text-color;
	}

	&__role {
		margin-top: 10px;
		margin-bottom: 16px;
	}
}
.team__socials {
	display: flex;

	&__icon {
		fill: currentColor;
	}
}

.team__socials__icon-ref {
	@include objectForm(44px, 44px, 50%);
	@include centralFlex();
	color: #afb1b8;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		background-color: $accent-color;
		color: $background-color;
	}
}

.team__socials__icon-list {
	&:not(:last-child) {
		margin-right: 10px;
	}
}
