%title-section {
	margin-bottom: 50px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	color: $secondary-text-color;
}

%general-buttons {
	display: block;
	position: relative;
	top: 0;
	border-radius: 4px;
	cursor: pointer;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	background-color: $accent-color;
	color: $background-color;
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
		background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		top 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

%general-buttons_hover {
	top: 2px;
	background-color: #188ce8;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

%header-icons-links_hover-focus {
	color: $accent-color;
	fill: $accent-color;
}

%header-mail-tel_icons-current {
	margin-right: 10px;
	fill: currentColor;
}

%subscribe-form_hover-focus {
	border-color: $accent-color;
	fill: $accent-color;
}

%jobs__article__tablet {
	padding: 20px 24px;
	border: 1px solid #eeeeee;
	border-top: 0px;
}
