$secondary-text-color: #212121;
$primary-text-color: #757575;
$accent-color: #2196f3;
$background-color: #ffffff;
$hero-and-footer-background-color: #2f303a;
$main-background-color: #e5e5e5;
$team-background-color: #f5f4fa;
$card-set-gap: 30px;
